<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="commonMapper">

	<resultMap type="MainItem" id="MainItemMap">
		<id property="productNum" column="PRODUCT_NUM"></id>
		<result property="categoryNum" column="CATEGORY_NUM"></result>
		<result property="categoryName" column="CATEGORY_NAME"></result>
		<result property="productMainName" column="PRODUCT_MAIN_NAME"></result>
		<result property="productName" column="PRODUCT_NAME"></result>
		<result property="productPrice" column="PRODUCT_PRICE"></result>
		<result property="cnt" column="CNT"></result>
	</resultMap>

	<select id="showList"  resultMap="MainItemMap">
		SELECT  A.CATEGORY_NUM, B.CATEGORY_NAME,
		        MAX(A.PRODUCT_MAIN_NAME) KEEP(DENSE_RANK FIRST ORDER BY PRODUCT_SHOW_CNT DESC) AS PRODUCT_MAIN_NAME,
		        MAX(A.PRODUCT_NUM) KEEP(DENSE_RANK FIRST ORDER BY PRODUCT_SHOW_CNT DESC) AS PRODUCT_NUM,
		        MAX(A.PRODUCT_NAME) KEEP(DENSE_RANK FIRST ORDER BY PRODUCT_SHOW_CNT DESC) AS PRODUCT_NAME,
		        MAX(A.PRODUCT_PRICE) KEEP(DENSE_RANK FIRST ORDER BY PRODUCT_SHOW_CNT DESC) AS PRODUCT_PRICE,
		        MAX(A.PRODUCT_SHOW_CNT) as CNT
		FROM    PRODUCT A
		LEFT JOIN PRODUCT_CATEGORY B ON A.CATEGORY_NUM = B.CATEGORY_NUM
		GROUP BY A.CATEGORY_NUM, B.CATEGORY_NAME
		ORDER BY 1
	</select>
	<select id="favoriteList" resultMap="MainItemMap">
		SELECT  A.CATEGORY_NUM, B.CATEGORY_NAME,
		        MAX(A.PRODUCT_MAIN_NAME) KEEP(DENSE_RANK FIRST ORDER BY CNT DESC) AS PRODUCT_MAIN_NAME,
		        MAX(A.PRODUCT_NUM) KEEP(DENSE_RANK FIRST ORDER BY CNT DESC) AS PRODUCT_NUM,
		        MAX(A.PRODUCT_NAME) KEEP(DENSE_RANK FIRST ORDER BY CNT DESC) AS PRODUCT_NAME,
		        MAX(A.PRODUCT_PRICE) KEEP(DENSE_RANK FIRST ORDER BY CNT DESC) AS PRODUCT_PRICE,
		        MAX(CNT) AS CNT
		FROM    (
		        SELECT  A.PRODUCT_NUM, A.CATEGORY_NUM, A.PRODUCT_NAME, A.PRODUCT_PRICE, A.PRODUCT_MAIN_NAME,
		        SUM(CASE WHEN B.MEMBER_ID IS NOT NULL THEN 1 ELSE 0 END) AS CNT
		        FROM    PRODUCT A
		        LEFT JOIN FAVORITE B ON A.PRODUCT_NUM = B.PRODUCT_NUM
		        GROUP BY A.PRODUCT_NUM, A.CATEGORY_NUM, A.PRODUCT_NAME, A.PRODUCT_PRICE, A.PRODUCT_MAIN_NAME) A
		LEFT JOIN PRODUCT_CATEGORY B ON A.CATEGORY_NUM = B.CATEGORY_NUM
		GROUP BY A.CATEGORY_NUM, B.CATEGORY_NAME
		ORDER BY 1
	</select>
	<select id="soldList" resultMap="MainItemMap">
		SELECT  A.CATEGORY_NUM, B.CATEGORY_NAME,
		        MAX(A.PRODUCT_MAIN_NAME) KEEP(DENSE_RANK FIRST ORDER BY CNT DESC) AS PRODUCT_MAIN_NAME,
		        MAX(A.PRODUCT_NUM) KEEP(DENSE_RANK FIRST ORDER BY CNT DESC) AS PRODUCT_NUM,
		        MAX(A.PRODUCT_NAME) KEEP(DENSE_RANK FIRST ORDER BY CNT DESC) AS PRODUCT_NAME,
		        MAX(A.PRODUCT_PRICE) KEEP(DENSE_RANK FIRST ORDER BY CNT DESC) AS PRODUCT_PRICE,
		        MAX(CNT) AS CNT
		FROM    (
		        SELECT  A.PRODUCT_NUM, A.CATEGORY_NUM, A.PRODUCT_NAME, A.PRODUCT_PRICE, A.PRODUCT_MAIN_NAME,
		        SUM(NVL(B.PRODUCT_QTY,0)) AS CNT
		        FROM    PRODUCT A
		        LEFT JOIN ORDER_DETAIL B ON A.PRODUCT_NUM = B.PRODUCT_NUM
		        GROUP BY A.PRODUCT_NUM, A.CATEGORY_NUM, A.PRODUCT_NAME, A.PRODUCT_PRICE, A.PRODUCT_MAIN_NAME) A
		LEFT JOIN PRODUCT_CATEGORY B ON A.CATEGORY_NUM = B.CATEGORY_NUM
		GROUP BY A.CATEGORY_NUM, B.CATEGORY_NAME
		ORDER BY 1
	</select>
</mapper>
